* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: hsl(30, 54%, 90%);
  color: hsl(30, 10%, 34%);
  font-family: "Outfit", sans-serif;
  min-height: 1955px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  line-height: 1.5;
}

h2 {
  color: hsl(14, 45%, 36%);
}

h3 {
  color: hsl(332, 51%, 32%);
}

.container figure {
  width: 100%;
  padding: 0 2.5rem;
  display: flex;
  justify-content: center;
}

.header-img {
  width: 100%;
  margin-top: 2.5rem;
  border-radius: 0.8rem;
}

.heading,
.ingredients h2,
.instruction h2,
.nutrition h2 {
  font-family: "Young Serif";
}

.container {
  width: 100%;
  max-width: 46em;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: hsl(330, 100%, 98%);
  border-radius: 1.25em;
  margin-top: 7.7rem;
}

.recipe {
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  gap: 1.25em;
}

.heading {
  font-size: 44px;
  font-weight: 600;
  color: hsl(24, 5%, 18%);
}

.time {
  margin: 2em 0 2em 1.5em;
}

.time h3 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 0.75em;
}

.time ul {
  margin-left: 1.5em;
}

.time li {
  padding: 0.5em 1em;
}

.time li::marker {
  color: hsl(332, 51%, 32%);
}

.ingredients {
  margin-bottom: 0.75em;
}

.ingredients h2 {
  padding-bottom: 0.75em;
}

.ingredients ul {
  margin-left: 1.5em;
}

.ingredients li {
  padding: 0.25em 1em;
}

.instruction {
  margin-bottom: 0.75em;
}

.instruction h2 {
  padding-bottom: 0.75em;
}

.instruction ol {
  margin-left: 1.5em;
}

.instruction li {
  padding: 0.25em 1em;
}

.instruction li::marker {
  font-weight: 800;
  color: hsl(14, 45%, 36%);
}

.border {
  border-bottom: 0.0313em solid hsl(30, 18%, 87%);
}

.nutrition h2 {
  padding-bottom: 0.75em;
}

.nutrition p {
  padding-bottom: 0.75em;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

td {
  width: 25%;
  border-bottom: 0.0625em solid hsl(30, 18%, 87%);
}

.nutrition_name {
  padding: 0.75em 2em;
}

.weight {
  padding: 0.75em 0.5em;
}

table tr:last-child td {
  border-bottom: none;
}

.weight {
  color: hsl(14, 45%, 36%);
  font-weight: 800;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 736px) {
  body {
    min-height: fit-content;
  }
  .container {
    max-width: none;
    margin: 0;
    border-radius: 0;
  }

  .container figure {
    padding: 0;
  }

  .header-img {
    margin: 0;
    border-radius: 0;
  }
}
